<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}">
	<meta charset="utf-8">
</head>
<body>
	<nav th:replace="~{base :: nav}"></nav>
	<main class="container-fluid">
		<h2 th:text="${veiculo.modelo}"></h2>
		<div class="container">
			<div class="card">
				<div class="row g-0">
					<div class="col-md-6">
						<img class="w-100 m-2" th:attr="src=@{/images/}+${veiculo.foto}, alt=${veiculo.modelo}, title=${veiculo.modelo}">
					</div>
					<div class="col-md-6">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-text">Modelo:</h5>
									<p class="text-muted h6" th:text="${veiculo.modelo}"></p>
								</div>
								<div class="col">
									<h5 class="card-text">Valor:</h5>
									<p class="text-muted h6"
										th:text="${#numbers.formatCurrency(veiculo.valor)}"></p>
								</div>
								<div class="col">
									<h5 class="card-text">Ano</h5>
									<p class="text-muted h6"
										th:text="${#dates.year(veiculo.anomodelo)}+'/'+${#dates.year(veiculo.anofabricacao)}"></p>
								</div>
							</div>
							<div class="row mt-5">
								<div class="col">
									<h5 class="card-text">Tipo:</h5>
									<p class="text-muted h6" th:text="${veiculo.tipo}"></p>
								</div>
								<div class="col">
									<h5 class="card-text">Cor:</h5>
									<p class="text-muted h6" th:text="${veiculo.cor.cor}"></p>
								</div>
								<div class="col">
									<h5 class="card-text">Marca:</h5>
									<p class="text-muted h6" th:text="${veiculo.marca.marca}"></p>
								</div>
							</div>
							<div class="row mt-5">
								<div class="col">
									<h5 class="card-text">Opcionais:</h5>
									<p class="text-muted h6" th:text="${veiculo.opcionais}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-2">
				<a href="/" class="btn btn-success ms-auto float-end">Voltar</a>
			</div>
		</div>
	</main>
	<script th:replace="~{base :: script}"></script>
</body>
</html>